#skills ~ .skills-list > li {
  margin-block: 5px !important;
}

.card-nested .work-skill-list {
  /* font-size: 14px; */
  margin-block: 0.3em;
  line-height: 1.2em;
  font-weight: 500;
}

.card-nested .work-skill-list .strong {
  font-weight: 600;
  margin-block: 0.5em;
}

.card-nested .work-skill-list span:not(:last-of-type):not(.strong)::after {
  content: " + ";
}

#work-projects-group #projects .card-nested .clear-margin-sm {
  display: flex;
  align-items: center;
}
#work-projects-group #projects .card-nested .clear-margin-sm a {
  display: inline-flex;
  align-items: center;
}
.github-stars {
  height: 21px !important;
}

.background-card h4 {
  border-bottom: 2px solid #333;
}

#work-experience {
  margin-top: 1.5em;
}

@media only print {
  .print-only {
    display: block;
  }
  .print-only-flex {
    display: flex;
  }
  .print-only-inline {
    display: inline;
  }

  .screen-only {
    display: none;
  }
  .screen-only-flex {
    display: none;
  }
  .screen-only-inline {
    display: none;
  }
}

@media only screen {
  .screen-only {
    display: block;
  }
  .screen-only-flex {
    display: flex;
  }
  .screen-only-inline {
    display: inline;
  }

  .print-only {
    display: none;
  }
  .print-only-flex {
    display: none;
  }
  .print-only-inline {
    display: none;
  }
}

.detail.new-style-inline-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media (min-width: 780px) {
  .detail.new-style-inline-block {
    justify-content: flex-start;
  }
}

.detail.new-style-inline-block > * {
  flex-shrink: 1;
}

.new-style-social-links {
  margin-top: 0.5rem;
}
